<form class="{{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="profile-img-container">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        </div>
        <div class="header-fields">
            <div class="charline">
                <h1 class="charname">
                    <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'SWADE.Name'}}" />
                </h1>
                {{#if actor.flags.swade.enableConviction}}
                <div class="conviction">
                    <strong>{{localize "SWADE.Conv"}}</strong>
                    <div class="convction-toggle">
                        {{#if actor.flags.swade.convictionReady}}
                        <a><i class="fas fa-fire-alt fa-2x"></i></a>
                        {{else}}
                        <a><i class="fas fa-times fa-2x"></i></a>
                        {{/if}}
                    </div>
                </div>
                {{/if}}
            </div>
            <div>
                <div class="flexrow header-stats">
                    <div class="form-group">
                        <input type="checkbox" name="data.wildcard" id="data.wildcard" {{checked data.wildcard}}>
                        <label for="data.wildcard">{{localize "SWADE.Wildcard"}}</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="data.status.isShaken" id="data.status.isShaken"
                            {{checked actor.data.status.isShaken}}>
                        <label for="data.status.isShaken">{{localize "SWADE.Shaken"}}</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="data.status.isDistracted" id="data.status.isDistracted"
                            {{checked actor.data.status.isDistracted}}>
                        <label for="data.status.isDistracted">{{localize "SWADE.Distr"}}</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="data.status.isVulnerable" id="data.status.isVulnerable"
                            {{checked actor.data.status.isVulnerable}}>
                        <label for="data.status.isVulnerable">{{localize "SWADE.Vuln"}}</label>
                    </div>
                </div>
                <div class="flexrow header-stats">
                    <div class="form-group">
                        <label for="pace">{{localize "SWADE.Pace"}}</label>
                        <input id="pace" name="data.stats.speed.value" type="text" value="{{data.stats.speed.value}}"
                            placeholder="0" data-dtype="Number" />
                    </div>
                    <div class="form-group">
                        <label for="parry">{{localize "SWADE.Parry"}}</label>
                        <input id="parry" name="data.stats.parry.value" value="{{data.stats.parry.value}}" type="text"
                            placeholder="0" data-dtype="Number" />
                    </div>
                    <div class="form-group">
                        <label for="toughness">{{localize "SWADE.Tough"}}</label>
                        <input id="toughness" name="data.stats.toughness.value" type="text"
                            value="{{data.stats.toughness.value}}" placeholder="0" data-dtype="String" />
                    </div>
                </div>
            </div>
        </div>
    </header>
    {{!-- Sheet Tab Navigation --}}
    <nav class="flexrow tabs" data-group="primary">
        {{#if actor.flags.swade.hasArcaneBackground}}
        <a class="item" data-tab="summary">{{localize "SWADE.Summary"}}</a>
        <a class="item" data-tab="powers">{{localize "SWADE.Pow"}}</a>
        {{/if}}
    </nav>
    <section class="sheet-body">
        {{#if actor.flags.swade.hasArcaneBackground}}
        {{!-- Summary Tab --}}
        <div class="tab active" data-group="primary" data-tab="summary">
            {{> "systems/swade/templates/actors/partials/npc-summary-tab.html"}}
        </div>

        {{!-- Powers Tab --}}
        <div class="tab powers" data-group="primary" data-tab="powers">
            {{> "systems/swade/templates/actors/partials/powers-tab.html"}}
        </div>

        {{else}}
        {{> "systems/swade/templates/actors/partials/npc-summary-tab.html"}}
        {{/if}}
    </section>
</form>