<div class="flexrow">
    <div class=" profile-img-container">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
    </div>
    <div>
        <div class="form-group">
            <input name="data.advances.rank" id="rank-input" type="text" value="{{data.advances.rank}}"
                data-dtype="String" placeholder="{{localize 'SWADE.Rank'}}" />
        </div>
        <div class="form-group">
            <input id="race" name="data.details.species.name" type="text" value="{{data.details.species.name}}"
                data-dtype="String" placeholder="{{localize 'SWADE.Race'}}" />
        </div>
        <div class="form-group">
            <label for="data.wounds.ignored">Ignore Wounds: </label>
            <input id="race" name="data.wounds.ignored" type="text" value="{{data.wounds.ignored}}"
                data-dtype="Number" />
        </div>
        <button type="Button" id="initConfigButton">Configure Initiative</button>
    </div>
</div>
<header class="header-field">
    <span>{{ localize "SWADE.Desc" }}</span>
</header>
{{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}