<div class="flexrow">
    <div class="edges-hindrances-list">
        <header class="header-field flexrow">
            <span>{{localize "SWADE.Hindrances"}}</span>
        </header>
        <ol class="items-list">
            {{#each data.owned.hindrances as |hindrance id|}}
            <li class="item flexrow" data-item-id="{{hindrance._id}}">
                <img src="{{hindrance.img}}" title="{{hindrance.name}}" width="24" height="24" />
                <a class="item-control edge item-name">{{hindrance.name}}
                    {{#if hindrance.data.major}}
                    {{localize "SWADE.Major"}}
                    {{else}}
                    {{localize "SWADE.Minor"}}
                    {{/if}}
                </a>
                <div class="item-controls">
                    <a class="item-control item-edit" title="{{localize 'SWADE.EdHind'}}"><i
                            class="fas fa-edit"></i></a>
                </div>
            </li>
            {{/each}}
        </ol>
        <header class="header-field flexrow">
            <span>{{localize "SWADE.Edges"}}</span>
        </header>
        <ol class="items-list">
            {{#each data.owned.edges as |edge id|}}
            <li class="item flexrow" data-item-id="{{edge._id}}">
                <img src="{{edge.img}}" title="{{edge.name}}" width="24" height="24" />
                <a class="item-control edge item-name">{{edge.name}}</a>
                <div class="item-controls">
                    <a class="item-control item-edit" title="{{localize 'SWADE.EdEdge'}}"><i
                            class="fas fa-edit"></i></a>
                </div>
            </li>
            {{/each}}
        </ol>
    </div>
    <div class="description">
        <header class="header-field flexrow">
            <span>{{localize "SWADE.Desc"}}</span>
        </header>
        <p class="description-value" id="edge-description"></p>
    </div>
</div>