<section class="vitals flexrow">
    <div class="vitals-container">
        <strong>{{localize "SWADE.Fatigue"}}</strong>
        <input type="range" name="data.fatigue.value" min="0" max="{{data.fatigue.max}}" class="slider fatigue-slider"
            value="{{data.fatigue.value}}" />
        <div class="flexrow">
            <input type="text" value="{{data.fatigue.value}}" data-dtype="Number" class="fatigue-input" />
            <span>/</span>
            <input type="text" name="data.fatigue.max" value="{{data.fatigue.max}}" data-dtype="Number" />
        </div>
    </div>
    <div class="bennies flexrow">
        <div>
            <a><i class="benny-subtract fas fa-minus"></i></a>
        </div>
        <div class="benny-tracker">
            <strong>{{localize "SWADE.Bennies"}}</strong>
            <input class="bennies-current" name="data.bennies.value" type="text" value="{{data.bennies.value}}"
                data-dtype="Number" />
            <input class="bennies-max" name="data.bennies.max" type="text" value="{{data.bennies.max}}"
                data-dtype="Number" />
        </div>
        <div>
            <a><i class="benny-add fas fa-plus"></i></a>
        </div>
    </div>
    <div class="vitals-container">
        <strong>{{localize "SWADE.Wounds"}}</strong>
        <input type="range" name="data.wounds.value" min="0" max="{{data.wounds.max}}" class="slider wound-slider"
            value="{{data.wounds.value}}" data-dtype="Number" />
        <div class="flexrow">
            <input type="text" value="{{data.wounds.value}}" data-dtype="Number" class="wound-input" />
            <span>/</span>
            <input type="text" name="data.wounds.max" value="{{data.wounds.max}}" data-dtype="Number" />
        </div>
    </div>
</section>
{{> "systems/swade/templates/actors/partials/attributes.html"}}
<section class="flexrow">
    <div class="traits">
        <header class="header-field">
            <span>{{localize "SWADE.Skills"}}</span>
        </header>
        <ol class="skills-list">
            {{#each data.owned.skills as |skill id|}}
            <li class="item skill flexrow" data-item-id="{{skill._id}}">
                <label class="skill-label"><a>{{skill.name}}</a></label>
                <div class="skill-value"><span><a class="item-control item-edit"
                            title="{{localize 'SWADE.EditSkill'}}">d{{skill.data.die.sides}}{{modifier skill.data.die.modifier}}</a></span>
                </div>
                <div class="skill-value"><span>{{localizeSkillAttribute skill.data.attribute}}</span></div>
            </li>
            {{/each}}
        </ol>
    </div>
    <div class="gear">
        <header class="header-field">
            <span>{{ localize "SWADE.Weapons" }}</span>
        </header>
        <ol class="gear-list">
            {{> "systems/swade/templates/actors/partials/weapon-card.html"}}
        </ol>
        <header class="header-field">
            <span>{{ localize "SWADE.Armor" }}</span>
        </header>
        <ol class="gear-list">
            {{> "systems/swade/templates/actors/partials/armor-card.html"}}
        </ol>
        <ol class="gear-list">
            {{> "systems/swade/templates/actors/partials/shield-card.html"}}
        </ol>
    </div>
</section>