.swade.sheet {
  .window-content {
    background: $light-pastel-blue;
  }

  // Content Tabs
  .tabs {
    border-bottom: 1px solid;

    .item {
      border: 1px solid;
      background: $dark-paste-blue;
      border-radius: 4px 4px 0 0;
      margin: 0 5px -1px;
      padding: 4px;
      &:hover,
      &:focus {
        background: $light-pastel-blue;
        text-shadow: none;
      }
      &.active {
        background: $light-pastel-blue;
        border-bottom: 0;
        text-shadow: none;
        font-weight: bold;
      }
    }
  }

  input[type="checkbox"] {
    display: none;

    & + label {
      position: relative;

      &::before {
        width: 14px;
        height: 14px;
        border: 2px solid #999;
        border-radius: 4px;
        display: block;
        content: "";
        float: left;
        margin-right: 5px;
      }
    }

    &:checked + label {
      &::after {
        width: 14px;
        height: 9px;
        display: block;
        border-bottom: 5px solid;
        border-left: 5px solid;
        content: "";
        position: absolute;
        top: -3px;
        transform: rotate(-45deg);
        color: #2d3748;
      }

      &:hover::after {
        color: #5b7094;
      }
    }
  }

  input[type="text"] {
    @extend %standalone-input-field;
  }
}
