.swade.sheet.item {
  .window-content {
    padding: 5px;
    overflow-y: hidden;
  }

  // Sheet Header
  .sheet-header {
    overflow: hidden;
    flex-wrap: nowrap;
    flex: 0 0 72px;
    border-bottom: $section-border;
  }

  // Profile Image
  .profile-img-container {
    position: relative;
    width: 64x;
    max-width: 64px;
    height: 64x;
    margin-right: 2px;
    img {
      margin: 0;
      border: none;
    }
    .profile-img {
      height: inherit;
      width: inherit;
      object-fit: contain;
      cursor: pointer;
    }
    .fade-in-05 {
      opacity: 0.5;
    }
  }

  .itemline {
    height: 60px;
    width: 100%;
    display: inline-flex;
    .itemname {
      height: 100%;
      margin: 0;
      input {
        width: 100%;
        height: 100%;
        margin: 0;
      }
    }
    .item-controls {
      width: 10%;
      text-align: center;
      margin-left: 4px;
    }
  }

  // Header Fields
  .header-fields {
    input[type="text"] {
      background: none;
      border: 1px solid transparent;
    }
    flex: 1;
    height: 100px;
    padding: 5px;
  }

  .sheet-body {
    .editor {
      border: $section-border;
      height: 200px;
      width: 100%;
    }
    .header-field {
      @extend %header-field;
      margin-bottom: 0px;
    }
  }
}
