<form class="{{cssClass}} flexcol" autocomplete="off">
    {{!-- Item Sheet Header --}}
    {{> "systems/swade/templates/items/partials/header-delete.html"}}
    <section class="sheet-body">
        <div class="form-group">
            <label for="data.requirements.value">{{localize "SWADE.Req"}}</label>
            <input name="data.requirements.value" type="text" value="{{item.data.requirements.value}}"
                placeholder="{{localize 'SWADE.Req'}}" data-dtype="String" />
        </div>
        {{#unless item.data.isOwned}}
        <div class="form-group">
            <input type="checkbox" name="data.isArcaneBackground" id="data.isArcaneBackground"
                {{checked item.data.isArcaneBackground}} data-dtype="Boolean">
            <label for="data.isArcaneBackground">{{localize "SWADE.ArcBack"}}</label>
        </div>
        {{/unless}}
        <header class="header-field">
            <span>{{localize "SWADE.Desc"}}</span>
        </header>
        <div class="form-group">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>