<form class="{{cssClass}} flexcol" autocomplete="off">
    {{!-- Item Sheet Header --}}
    {{> "systems/swade/templates/items/partials/header.html"}}
    <section class="sheet-body">
        <div class="form-group">
            <label for="data.price">{{localize "SWADE.Price"}}</label>
            <input name="data.price" type="text" value="{{item.data.price}}" placeholder="{{localize 'SWADE.Price'}}"
                data-dtype="Number" />
        </div>
        <div class="form-group">
            <label for="data.weight">{{localize "SWADE.Weight"}}</label>
            <input name="data.weight" type="text" value="{{item.data.weight}}" placeholder="{{localize 'SWADE.Weight'}}"
                data-dtype="Number" />
        </div>
        <div class="form-group">
            <label for="data.quantity">{{localize "SWADE.Quantity"}}</label>
            <input name="data.quantity" type="text" value="{{item.data.quantity}}"
                placeholder="{{localize 'SWADE.Quantity'}}" data-dtype="Number" />
        </div>
        {{log item}}
        {{#unless item.data.isOwned}}
        <div class="form-group">
            <label for="data.equippable">{{localize "SWADE.Equippable"}}</label>
            <input type="checkbox" name="data.equippable" {{checked item.data.equippable}} data-dtype="Boolean">
        </div>
        {{/unless}}
        <header class="header-field">
            <span>{{localize "SWADE.Desc"}}</span>
        </header>
        <div class="form-group">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>